myenv/
.venv/
venv/
__pycache__/
*.pyc
*.log
.logs/
logs/
.traces/
.trash/
.cache/
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
.DS_Store

# project
pdf-rag-chatbot/.env
pdf-rag-chatbot/.streamlit/
pdf-rag-chatbot/.chroma/
pdf-rag-chatbot/data/
